*{

    box-sizing: border-box;
    margin: 0;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style-type: none;

}

html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

/* Styling Mobil-sida */



    
    .grid-wrapper{


        display: grid;
        height: 1450px;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px 300px 150px 300px 400px 200px ;
        grid-template-areas:
        
        "he na"
        "ba ba"
        "a1 a1"
        "s1 s1"
        "pr pr"
        "fo fo";
    }

    .grid-wrapper-tshirt{


        display: grid;
        height: 1700px;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px 350px 350px 300px 400px 200px ;
        grid-template-areas:
        
        "he na"
        "pi pi"
        "if if"
        "ik ik"
        "gi gi"
        "fo fo";



    }

 


    .grid-wrapper-produkter{

        display: grid;
        height: 2800px;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px 2500px 200px ;
        grid-template-areas:
        
        "he na"
        "ps ps"
        "fo fo";

    }

    #header{
        grid-area: he;
        display: flex;
        background-color: rgb(39, 73, 32);
        width: 100%;
        justify-content: space-around;
        align-items: center;
        z-index: 2;
    }

    .logo{

        width: 150px;
        height: 60x;

    }

    nav {

        grid-area: na;
        z-index: 1;
    }

    #mobilmeny{

        background-color: rgb(39, 73, 32);    }


    .meny-toggle {

        position: absolute;
        top: 25px;
        right: 60px;
        cursor: pointer;
    }

    #fake_bar{
        z-index: 2;
        height: 100%;
        width: 100%;
        background-color: rgb(39, 73, 32);
    }


    .meny-toggle div{
        margin-top: 5px;
        width: 25px;
        height: 3px;
        background-color: white;
        border-radius: 10%;
    }

    #bar1{

        border-radius: 5px;

    }

    #bar2{
        border-radius: 5px;

    }

    #bar3{

        border-radius: 5px;

    }

    .toggle #bar1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    
    .toggle #bar2 {
        opacity: 0;
    }
    
    .toggle #bar3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .nav-links{

        
      position: absolute;
      top: -1000px;
      left: 0;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
        flex-direction: column;
      background-color: rgb(33, 65, 31);
      transition: all 0.2s;  
      height: 305px;
      width: 100%;
      z-index: -1;
      transition: 1.4s;
    }

    .nav-active{

       
        top: 76px !important; 
        z-index: -1;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }



    #mobilmeny{

        text-decoration: none;

    }



    .nav-links a{

        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-size: 20px;
    }


    #pris {

        color: black;

    }

    #menu{

        display: none;

    }

    #banner{
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(#0000006c, #2a5e0765),  url(/img/nature.jpg);
        background-size: cover;
        grid-area: ba;
    }


    #article_home h2{

        margin-top: 20px;
        text-align: center;
    }

    #article_home p{

        margin-top: 20px;
        text-align: center;
    }

    h1{
        opacity: 0.9;
        font-size: 45px;

    }

    h2{

        font-size: 25px;

    }

    h3{
        opacity: 0.9;
        font-size: 22px;

    }




    #article_home{
        display: flex;
        background-color: rgb(22, 44, 20);
        grid-area: a1;
        display: inline-block;
        box-shadow: 0px 5px 20px rgb(22, 44, 20);
        z-index: 3;
    }

    #section_planet{

        display: flex;
        background-color: rgb(124, 124, 124);
        grid-area: s1;
        background-image: linear-gradient(#ffffff0e, #ffffff15),  url(/img/space.jpg);
        background-size: cover;
        justify-content: center;
        align-items: center;
    }


    #produkt_display{

        display: flex;
        grid-area: pr;
        background-color: rgb(22, 44, 20);
        justify-content: center;
        align-items: center;


    }

    #produkt{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #FFFFFF;
        width: 370px;
        height: 350px;
        border-radius: 50px;
        border-bottom: 15px solid #e7cdae;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.349);

    }

    #produkt_bild{

        
        background-image: url(/img/tshirt.jpg);
        background-size: cover;
        width: 350px;
        height: 190px;
        

    }

    .buy_button{

        display: flex;
        align-items: center;
        width: 200px;
        height: 60px;
        border-radius: 10px;
        font-size: 30px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        justify-content: center;
        color: white;
        text-decoration: none;
        margin-top: 10px;
        background-color: rgb(26, 114, 26);

    }

    footer{


        grid-area: fo;
        background-color: black;
    }


    #footer_meny{

        display: flex;
        justify-content: space-evenly;
        height: 100%;
        align-items: center;
        font-weight: bold;

    }

    /* T-Shirt-produktsida */
    
    
    #product-images{
        grid-area: pi;
        background-color: rgb(255, 255, 255);
    }

    #product-images section{
        width: 100%;
        height:100%;
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        position: relative;
    }

    #product-info{
        grid-area: if;
        background-color: rgb(39 73 32);
    }

    #text-holder{

        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }


    #text-holder-gift{

        width: 100%;
        height: 300px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }

    .pris{

        color: rgb(59, 182, 100);

    }

    #description{
        margin-top: 30px;
        margin-left: 30px;
        margin-right: 30px;
        text-align: center;
    }

    #pic1{
        width: 330px;
        height: 350px;
    }
    

    #shadow{

        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(36, 73, 49, 0.151);    
    }

    
    .kolumn {

        width: 100%;
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;


    }

    #ikoner{
        width: 100%;
        display: flex;
    }

    #process{

        grid-area: ik;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(125, 185, 117, 0.479);
    }

    #process h2{


        color: rgba(44, 44, 44, 0.973);
        margin-bottom: 30px;
    }


    #process p{
        font-weight: bold;
        color: rgb(54, 54, 54);
    }
    

    /* Produkter-sida */

    #product-section-grid{
        grid-area: ps;
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;

    }

    #produkter_rubrik{

        color: rgb(27, 77, 27);

    }

    .product-box{

        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        background-color: rgba(128, 128, 128, 0.171);
        box-shadow: 5px 5px 25px rgb(0, 0, 0);
        border-radius: 25px;
        height: 380px;
        width: 400px;
    }

    #produkt-1{


        background-image: url("/img/tshirt.jpg");
        background-size: cover;
        background-repeat: no-repeat;

    }


    
    .kolumn img{

        display: inline;
        width: 80px;

    }



    #giftcard{

        grid-area: gi;
        background-image: url(/img/presentkort_front.jpg);
        background-size: cover;
    }


    /* Presentkorts-sida */

    #presentkort_main{
        grid-area: pm;
        background-color: rgb(77, 136, 77);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #presentkort_main img{

        width: 200px;
        height: 200px;

    }



    /* Styling Desktop-sida */

    @media only screen and (min-width: 600px) {

        .grid-wrapper{


            display: grid;
            height: 2060px;
            width: 100%;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 100px 60px 500px 150px 550px 500px 200px ;
            grid-template-areas:
            
            "he he"
            "na na"
            "ba ba"
            "a1 a1"
            "s1 s1"
            "pr pr"
            "fo fo";
        }

        .grid-wrapper-tshirt{


            display: grid;
            height: 1560px;
            width: 100%;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 100px 60px 500px 300px 400px 200px ;
            grid-template-areas:
            
            "he he"
            "na na"
            "pi if"
            "ik ik"
            "gi gi"
            "fo fo";
        }


    


        #pic1{

            margin-top: 55px;

        }


        #product-section-grid{

            display: grid;
            height: 1500;
            width: 100%;
            grid-template-columns: 1fr 1fr;
            grid-template-rows:  1fr 1fr;
            grid-template-areas:
            
            "p1 p2";

        }

        .grid-wrapper-produkter{


            display: grid;
            height: 1860px;
            width: 100%;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 100px 60px 1500px 200px ;
            grid-template-areas:
            
            "he he"
            "na na"
            "p1 p2"
            "fo fo";
        }

        #product-section-1{

            grid-area: p1;

        }

        #product-section-2{

            grid-area: p2;

        }


        .nav-links{

            position: static;
            height: 50px;
            flex-direction: row;
        }

        #fake_bar{

            height: 10px;

        }

        h1{

            font-size: 60px;

        }

        h3{

            font-size: 45px;
        }

        h4{

            font-size: 80px;
        }

        p{

            font-size: 20px;

        }

 

        #section_planet{

            background-image: linear-gradient(#1111115d, #14131371),  url(/img/space.jpg); 
            background-position: center;

        }


        /* Presenkorts-sida */




    }